<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div style="text-align: left;">
      <%= form.label :first_name, style: "display: block" %>
    </div>
    <%= form.text_field :first_name, class: "form-control", id: "first_name", placeholder: "Enter First Name" %>
  </div>
  <br>

  <div class="form-group">
    <div style="text-align: left;">
      <%= form.label :last_name, style: "display: block" %>
    </div>
    <%= form.text_field :last_name, class: "form-control", id: "last_name", placeholder: "Enter Last Name" %>
  </div>
  <br>

  <div class="form-group">
    <div style="text-align: left;">
      <%= form.label :email, style: "display: block" %>
    </div>
    <%= form.text_field :email, class: "form-control", id: "email", placeholder: "Enter E-mail" %>
  </div>
  <br>

  <div class="form-group">
    <div style="text-align: left;">
      <%= form.label :department_id, "Department" %>
    </div>
    <select class="form-select" id="departmentId" name="employee[department_id]">
      <option value="<%= employee.department_id %>"><%= employee.department.name %></option>
      <% @departments.each do |department| %>
        <option value="<%= department.id %>"><%= department.name %></option>
      <% end %>
    </select>
  </div>
  <br>

  <div class="form-group">
    <div style="text-align: left;">
      <%= form.label :designation_id, "Designation" %>
    </div>
    <select class="form-select" id="designationId" name="employee[designation_id]">
      <option value="<%= employee.designation_id %>"><%= employee.designation.name %></option>
      <% @designations.each do |designation| %>
        <option value="<%= designation.id %>"><%= designation.name %></option>
      <% end %>
    </select>
  </div>
  <br>
  <div class="modal-footer">
    <%= button_tag "Save", class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>
